*.bak
*.o
*.tmp
codeblocks/obj/
codeblocks/bin/
codeblocks/*.depend
codeblocks/*.layout
codeblocks_win/obj/
codeblocks_win/bin/Debug/
codeblocks_win/bin/Debug_x64/
codeblocks_win/*.depend
codeblocks_win/*.layout
codeblocks_win/bin/*/cache
codeblocks_win/bin/*/*.txt
codeblocks_win/bin/*/*.bat
codeblocks_win/bin/*/*.bak
codeblocks_win/bin/*/*.log
codeblocks_win/bin/*/*.config
codeblocks_win/bin/*/*.html
test/*/bin/*
test/*/obj/*
test/*/*.depend
test/*/*.layout

*/gmon.out

.deps/
autom4te.cache/
config.h
config.log
config.status
makefile
stamp-h1
