name: fetch cache

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 */3 * *"

permissions: {}

env:
  SOURCE_REPO: HiGarfield/lede-17.01.4-Mod

jobs:
  fetch_cache:
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        arch: [ar71xx, ramips]

    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: Prepare source
        run: |
          if [ -f version ]; then
            echo "WORKING_DIR=$PWD" >> $GITHUB_ENV
          else
            git clone https://github.com/${SOURCE_REPO}.git source
            echo "WORKING_DIR=$PWD/source" >> $GITHUB_ENV
          fi

      - name: Install minimal build deps
        working-directory: ${{ env.WORKING_DIR }}
        run: |
          sudo apt-get update -qq -y
          sudo apt-get install -qq -y build-essential

      - name: Generate cache mixkey
        id: mixkey
        working-directory: ${{ env.WORKING_DIR }}
        run: |
          gcc_hash=$(gcc --version | sha1sum | cut -c1-8)
          echo "key=${{ matrix.arch }}-${gcc_hash}" >> $GITHUB_OUTPUT

      - name: Restore toolchain cache
        uses: HiGarfield/cachewrtbuild@main
        with:
          ccache: true
          mixkey: ${{ steps.mixkey.outputs.key }}
          prefix: ${{ env.WORKING_DIR }}
          skip_saving: true

      - name: Restore dl cache
        uses: actions/cache/restore@main
        with:
          path: ${{ env.WORKING_DIR }}/dl
          key: ${{ github.repository_id }}-dl-${{ github.run_id }}
          restore-keys: ${{ github.repository_id }}-dl-
